/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/framework/*
/storage/logs/laravel.log
/resources
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
